@use "../abstracts" as *;

.home {
  &__layout {
    min-height: calc(100svh - 6rem);
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include responsive(tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__content {
    position: relative;
    @include flex-center;
    flex-direction: column;
    text-align: center;

    @include responsive(tablet) {
      position: sticky;
      top: 3rem;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #f4f4f4;
      z-index: -1;
      width: 1px;
      height: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      background-color: #f4f4f4;
      z-index: -1;
      width: 1px;
      height: 100%;
    }
  }
}

.home-tasks {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  @include responsive(tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__task {
    position: relative;
    overflow: hidden;
    aspect-ratio: 2/1;

    @include responsive(tablet) {
      aspect-ratio: unset;
    }

    &:nth-of-type(2) {
      @include responsive(tablet) {
        grid-column: 1 / 3;
      }
    }

    &:nth-of-type(3) {
      @include responsive(tablet) {
        grid-column: 2 / 3;
        grid-row: 3 / 5;
      }
    }
  }

  .task-pill {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: $color-text;
  }

  &__task-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__task-overlay {
    position: absolute;
    inset: 0;
    background-color: #fff;
    z-index: 1;
  }
}
